body{
    background-color: rgb(0, 115, 255);
    background-image: url(../Users/Admin/Pictures/lockscreenwallpaper.jpg);
}
.body{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    
    

}
.box div{
    display: inline-block;
}
.wrapper{
    height: 350px;
    width: 300px;
    border: 1px;
    text-align: center;
    background-color: rgb(0, 115, 255);
    
}
img{
    height: 20px;
    width: 25px;
    
}
.username input{
     border-radius: 11px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
    font-weight: bold;
    
}
.password input{
    border-radius: 11px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;

}
.loginbut{
    border-radius: 11px;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.loginbut:hover{
    background-color: green;
}
